.card {
  box-sizing: border-box;
  width: 21.875rem;
  height: 17.188rem;
  border: solid 1px var(--navy);
  border-radius: 5px;
  font-family: var(--font-one), var(--font-default);
  display: flex;
  align-items: flex-end;
  box-shadow: 7px 7px var(--grey);
  margin-bottom: 1.25rem;
  transition: box-shadow 0.2s ease-in;
}

.card.title-body {
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 9.375rem;
  height: 17.063rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.card img {
  width: 9.375rem;
  height: 100%;
}

.active-card {
  padding: 1.25rem;
  display: block;
  box-shadow: -7px -7px var(--grey);
}

.card-body {
  display: inline-block;
  text-align: right;
  flex-grow: 2;
}

.title-body > .card-body {
  padding: 0 1.25rem;
  width: 12.5rem;
  text-align: center;
}

.card .title {
  background: white;
  padding: 0.5rem;
  font-weight: bold;
  font-size: var(--lg-font-size);
  color: var(--navy);
  display: inline-block;
  margin: 0;
}

.card.title-body .title {
  padding: 0;
}

.link-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.625rem;
  color: var(--navy);
}

.title a {
  display: inline-block;
  margin: 0;
}

.title p {
  display: inline-block;
  margin: 0;
}

.child-body {
  margin: 0;
}

.child-body > p {
  margin: 0;
}

.badge-bar {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@media (max-width: 25rem) {
  .card {
    width: 90vw;
    height: 17.188rem;
    font-size: var(--med-font-size);
  }

  .card-image {
    min-width: 30%;
  }
}
