.card {
  box-sizing: border-box;
  width: 425px;
  height: 275px;
  border: solid 1px var(--navy);
  border-radius: 5px;
  font-family: var(--font-one), var(--font-default);
  font-size: 16px;
  display: flex;
  align-items: center;
  box-shadow: 7px 7px var(--grey);
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease-in;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 350px;
  height: 273px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.card img {
  width: auto;
  height: 100%;
}

.active-card {
  padding: 20px;
  display: block;
  box-shadow: -7px -7px var(--grey);
}

.card-body {
  display: inline-block;
  vertical-align: center;
  text-align: center;
  padding: 0 20px;
  flex-grow: 2;
}

.card .title {
  font-weight: bold;
  font-size: 18px;
  color: var(--navy);
  display: inline-block;
  margin: 0;
}

.link-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 26px;
  color: var(--navy);
}

.title a {
  display: inline-block;
  margin: 0;
}

.title p {
  display: inline-block;
  margin: 0;
}

.child-body {
  margin: 0;
}

.badge-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@media (max-width: 400px) {
  .card {
    width: 90vw;
    height: 275px;
    font-size: 15px;
  }

  .card-image {
    min-width: 30%;
  }
}
