.card {
  align-items: flex-end;
  border: solid 1px var(--navy);
  border-radius: 5px;
  box-shadow: 3px 3px var(--grey);
  box-sizing: border-box;
  display: flex;
  font-family: var(--font-one), var(--font-default);
  height: 17.188rem;
  margin-bottom: 1.25rem;
  transition: box-shadow 0.2s ease-in;
  width: 22rem;
}

.card.title-body {
  align-items: center;
}

.card:not(.active-card):hover {
  box-shadow: 7px 7px var(--grey);
  cursor: pointer;
}

.card-image {
  width: 9.375rem;
  height: 17.063rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.card img {
  width: 9.375rem;
  height: 100%;
}

.active-card {
  align-items: flex-start;
  box-shadow: -3px -3px var(--grey);
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.5rem 0.5rem 1rem;
}

.active-card .card-content {
  padding-right: 0.5rem;
}

.card-body {
  display: inline-block;
  text-align: right;
  flex-grow: 2;
}

.title-body > .card-body {
  padding: 0 0.5rem;
  width: 12.5rem;
  text-align: center;
}

.card .title {
  background: white;
  color: var(--navy);
  display: inline-block;
  font-size: var(--lg-font-size);
  font-weight: bold;
  margin: 0;
  padding: 0 0.5rem 0.5rem;
}

.card.title-body .title {
  padding: 0;
}

.link-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--navy);
}

.link-title.sm {
  font-size: 1.4rem;
}

.title a {
  display: inline-block;
  margin: 0;
}

.title p {
  display: inline-block;
  margin: 0;
}

.child-body {
  margin: 0;
}

.child-body > p {
  margin: 0;
}

.badge-bar {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-footer {
  height: 1.5rem;
  text-align: right;
  width: 100%;
}

.card-footer svg:hover {
  cursor: pointer;
}

.card-footer svg:hover > path {
  fill: var(--blue);
}

@media (max-width: 25rem) {
  .card {
    width: 90vw;
    height: 17.188rem;
    font-size: var(--med-font-size);
  }

  .card-image {
    min-width: 30%;
  }
}
