.badge {
  height: 1.563rem;
  min-width: 1.25rem;
  border-radius: 15px;
  padding: 0.125rem 0.625rem;
  font-family: var(--font-code), var(--font-default);
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.563rem;
  border: solid 1px;
}

.badge p {
  margin: 0;
}

.red {
  background: #fcd4d4;
  border-color: #820707;
}

.blue {
  background: #cce6ff;
  border-color: #073057;
}

.purple {
  background: #d2d2fc;
  border-color: #1a1a40;
}

.green {
  background: #d9ffe2;
  border-color: #044214;
}
