.badge {
  height: 25px;
  min-width: 20px;
  border-radius: 15px;
  padding: 2px 10px;
  font-family: var(--font-code), var(--font-default);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  border: solid 1px;
}

.badge p {
  margin: 0;
}

.red {
  background: #fcd4d4;
  border-color: #820707;
}

.blue {
  background: #cce6ff;
  border-color: #073057;
}

.purple {
  background: #d2d2fc;
  border-color: #1a1a40;
}

.green {
  background: #d9ffe2;
  border-color: #044214;
}
