.code-button {
  font-family: var(--font-code), var(--font-default);
  font-size: var(--sm-font-size);
  padding: 0.125rem 0.5rem;
  background: white;
  border: solid 1px var(--lightgrey);
  margin: 2px;
}

.code-button:hover,
.code-button:active {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px black;
}
