.nav-container {
  position: fixed;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  min-width: 300px;
  width: 100vw;
  height: 75px;
  background: var(--grey);
  padding: 20px;
}

.nav-container a {
  color: white;
  font-size: 22px;
  font-family: var(--font-one), var(--font-default);
  text-transform: uppercase;
  text-decoration: none;
}

.links {
  position: fixed;
  top: 20px;
  right: 10px;
}

.item {
  display: inline-block;
  text-align: right;
  padding: 0 20px;
  font-size: 18px;
  color: var(--lightblue);
}

.active {
  text-decoration: underline;
}
