.nav-container {
  position: fixed;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  min-width: 18.75rem;
  width: 100vw;
  height: 4.688rem;
  background: var(--grey);
  padding: 1.25rem;
}

.nav-container a {
  color: white;
  font-size: 1.375rem;
  font-family: var(--font-one), var(--font-default);
  text-decoration: none;
}

.main-link {
  text-transform: uppercase;
}

.links {
  position: fixed;
  top: 1.25rem;
  right: 0.625rem;
}

.item {
  display: inline-block;
  text-align: right;
  padding: 0 1.25rem;
  font-size: var(--lg-font-size);
  color: var(--lightblue);
}

.active {
  text-decoration: underline;
}

.mobile-menu {
  background: var(--lightblue);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 3.125rem;
}

.mobile-links {
  width: 100vw;
  text-align: center;
}

.mobile-item {
  line-height: 3.125rem;
  font-size: 1.25rem;
  color: var(--navy);
}
