.nav-container {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  min-width: 200px;
  width: 100vw;
  height: 75px;
  background: var(--grey);
  padding: 20px;
}

.nav-container a {
  color: white;
  font-size: 22px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
