.footer {
  box-sizing: border-box;
  margin-top: 15px;
  min-height: 75px;
  padding: 15px 20px;
  color: white;
  background: var(--grey);
  font-size: 15px;
}

.footer p {
  margin: 0 0 5px;
}

.footer a {
  color: var(--lightblue);
  font-weight: bold;
  text-decoration: none;
}
