.footer {
  box-sizing: border-box;
  margin-top: 15px;
  min-height: 5rem;
  padding: 1.25rem;
  color: white;
  background: var(--grey);
  font-size: var(--med-font-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.938rem 1.875rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--lightblue);
  font-weight: bold;
  text-decoration: none;
}
