.footer {
  box-sizing: border-box;
  margin-top: 15px;
  min-height: 80px;
  padding: 20px 20px;
  color: white;
  background: var(--grey);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px 30px;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--lightblue);
  font-weight: bold;
  text-decoration: none;
}
