:root {
  --lightgrey: #3b4358;
  --grey: #1b2234;
  --navy: #052a57;
  --blue: #004cb0;
  --lightblue: #e3eaf4;
  --readable-lightblue: #6a90c4;
  --font-one: 'Noto Sans SC';
  --font-two: 'Nunito Sans';
  --font-code: 'Fira Code';
  --font-default: sans-serif;
  --lg-font-size: 1.125rem;
  --med-font-size: 0.938rem;
  --sm-font-size: 0.75rem;
}

.app {
  box-sizing: border-box;
  min-width: 18.75rem;
  width: 100vw;
  font-family: var(--font-one), var(--font-default);
}

.padded {
  padding: 0 5vw;
}

.section {
  padding: 4.688rem 5vw 0;
}

.section h1 {
  width: 100%;
  font-family: var(--font-one), var(--font-default);
  font-size: 2rem;
  color: var(--readable-lightblue);
  transition: all 0.3s ease-in-out;
}

.section:hover h1 {
  transform: translateX(1.25rem);
  color: var(--navy);
}

.flex-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-section {
  gap: 2.5rem 1.25rem;
}

.inline-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.small-text {
  font-size: var(--sm-font-size);
}

.med-text {
  font-size: var(--med-font-size);
}

.footnotes {
  font-size: 0.688rem;
  margin: 0;
  line-height: 0.688rem;
}
