:root {
  --lightgrey: #3b4358;
  --grey: #1b2234;
  --navy: #052a57;
  --blue: #004cb0;
  --lightblue: #e3eaf4;
  --readable-lightblue: #6a90c4;
  --font-one: 'Noto Sans SC';
  --font-two: 'Nunito Sans';
  --font-code: 'Fira Code';
  --font-default: sans-serif;
}

.app {
  box-sizing: border-box;
  min-width: 300px;
  width: 100vw;
  font-family: var(--font-one), var(--font-default);
}

.padded {
  padding: 0 5vw;
}

.section {
  padding: 75px 5vw 0;
}

.section h1 {
  width: 100%;
  font-family: var(--font-one), var(--font-default);
  font-size: 32px;
  color: var(--readable-lightblue);
  transition: all 0.3s ease-in-out;
}

.section:hover h1 {
  transform: translateX(20px);
  color: var(--navy);
}

.flex-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-section {
  gap: 40px 20px;
}

.inline-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.small-text {
  font-size: 12px;
}

.med-text {
  font-size: 14px;
}

.footnotes {
  font-size: 11px;
  margin: 0;
  line-height: 11px;
}
