.banner {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 35vh 5vw 1.875rem;
  color: white;
  background: linear-gradient(
      238.63deg,
      #052a57 -13.84%,
      rgba(9, 31, 145, 0) 81.76%
    ),
    #000000;
}

.greeting-container {
  font-size: 2rem;
  font-family: var(--font-one), var(--font-default);
}

.about-container {
  color: var(--lightblue);
  padding-bottom: 6.25rem;
  font-size: var(--lg-font-size);
  font-family: var(--font-two), var(--font-default);
}

.contacts {
  width: 100%;
  text-align: right;
}

.contacts img {
  height: 2.813rem;
}

@media (max-width: 68.688rem) {
  .greeting-container {
    min-height: 12.5rem;
  }
}

@media (max-width: 38.313rem) {
  .banner {
    padding-top: 25vh;
  }

  .greeting-container {
    min-height: 18.75rem;
  }
}

@media (max-width: 29.313rem) {
  .greeting-container {
    font-size: 1.625rem;
  }
}
